.profileContainer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 7px;
  width: 100%;
  height: 100%;
  /*padding-top: 50px;*/
  padding-bottom: 50px;
}

.userEventList{
  padding: 10px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.userInfoBox{
  padding: 10px;
  grid-column: 2/3;
  grid-row: 1/2;
}
