html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff,#00c6ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00c6ff, #0072ff,#00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.routeContainer{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.routeContainer{
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-rows: auto  1fr auto;
  grid-template-columns: 2fr 5fr 2fr;
}

.navigationBar{
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-column: 1/4;
  grid-row: 1/2;
}

.logo {
  grid-column: 1 / 2;
}

.navLinks {
  grid-column: 2 / 3;
}

.logInUser {
  grid-column: 3 / 4;
}

.baseContainer{
  width: 100%;
  height: 100%;
  padding-top: 50px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer{
  grid-column: 1/4;
  grid-row: 3/4;
  padding: 10px;
  text-align: center;
}

.homeContainer{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-gap: 7px;
}
