html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.routeContainer{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.routeContainer{
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-rows: auto  1fr auto;
  grid-template-columns: 2fr 5fr 2fr;
}

.navigationBar{
  padding: 20px;
  grid-column: 1/4;
  grid-row: 1/2;
}

.baseContainer{
  margin-top: 70px;
  margin-bottom: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer{
  grid-column: 1/4;
  grid-row: 3/4;
  padding: 10px;
  text-align: center;
  background-color: #333333 !important;
}

.homeContainer{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr  auto;
  grid-gap: 7px;
}
