.instaPost{
  display: inline-block;
  margin: 15px;
}

.instaImage{
  height: 300px;
  width: 300px;
}

.slideShow{
   transition: background-image 1s ease-in-out;
   background-size: 100% 100%;
   height: 275px;
   width: 275px;
}

.instaSlide{

}

.instaContainer{
  text-align: center;
}
