.instaPost{
  display: inline-block;
  margin: 15px;
}

.instaImage{
  height: 300px;
  width: 300px;
}

.slideShow{
   transition: background-image 1s ease-in-out;
   width: 100%;
   height: 100%;
   background-size: contain;
   background-repeat: no-repeat;
}

.instaSlide{
  width: 100%;
  height: 350px;
}

.instaContainer{
  text-align: center;
}

.instaLink{

}
