.navLink{
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
.navLink:hover{
  color: #fff;
}
.navLink:visited{
  color:#fff;
}

.logo {
  padding-left: 36px;
}

.logo > a > img {

  height: 54px;
}
