.navigationBar {
  /*display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;*/
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1d976c, #84e0a6,#1d976c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1d976c, #75c794,#1d976c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink{
  padding-left: 10px;
  padding-right: 10px;
  color: #212121;
}
.navLink:hover{
  color: #212121;
}
.navLink:visited{
  color: #212121;
}

.username {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  padding: 0;
}

.logo > a > img {
  margin-top: 10px;
  height: 104px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
}
