.navLink{
  padding-left: 10px;
  padding-right: 10px;
  color: #212121;
}
.navLink:hover{
  color: #212121;
}
.navLink:visited{
  color: #212121;
}

.logo > a > img {
  margin-top: 10px;
  height: 104px;
}
