.blogEntry {
  margin-bottom: 50px;
}

.eventEntry {
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo{
  margin-left: 20px;
}

.boardLinkIcon {
  width: 50 !important;
  height: 50 !important;
  margin: 10 !important;
  color: #444 !important;
  display: inline-block;
}

.boardLinkItem {
  cursor: pointer;
  height: 100;
  width: 100;
  margin: 20;
  text-align:center;
  display: inline-block;
}

.boardLinks {
  text-align: center;
}


.fieldContainer{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.demo-editor{
  padding: 10px;
}

.editContainer{

}

.fieldItem{
  display: inline-block;
  margin: 10px;
}

.eventList{
  grid-column: 1/2;
  grid-row: 1/2;
}
.aboutLinkIcon {
  cursor: pointer;
  width: 50 !important;
  height: 50 !important;
  margin: 10 !important;
  color: #444 !important;
}

.aboutLinkItem {
  cursor: pointer;
  height: 100;
  width: 100;
  margin: 25;
  text-align:center;
  display: inline-block;
}
