.blogEntry {
  margin-top: 50px;
  margin-bottom: 50px;
}

.eventEntry {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navigationBar {
  padding: 20px;
}

.footer{
    position:relative;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #333333 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
}

.logo{
  margin-left: 20px;
}

.boardLinkIcon {
  width: 50 !important;
  height: 50 !important;
  margin: 10 !important;
  color: #444 !important;
}

.boardLinkItem {
  cursor: pointer;
  height: 100;
  width: 100;
  margin: 20;
  text-align:center;
  display: inline-block;
}

.boardLinks {
  text-align: center;
}

.instaImage{
  height: 200px;
  width: 200px;
}

.instaPost{
  display: inline-block;
  margin: 10px;
}

.instaContainer{
  text-align: center;
}
