.blogEntry {
  margin-bottom: 50px;
}

.eventEntry {
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo{
  margin-left: 20px;
}

.boardLinkIcon {
  width: 50 !important;
  height: 50 !important;
  margin: 10 !important;
  color: #444 !important;
  display: inline-block;
}

.boardLinkItem {
  height: 100;
  width: 100;
  margin: 20;
  text-align:center;
  display: inline-block;
}

.boardLinks {
  text-align: center;
}


.fieldContainer{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.demo-editor{
  padding: 10px;
}

.editContainer{

}

.fieldItem{
  display: inline-block;
  margin: 10px;
}

.eventList{
  grid-column: 1/2;
  grid-row: 1/2;
}
.aboutLinkIcon {
  cursor: pointer;
  width: 50 !important;
  height: 50 !important;
  margin: 10 !important;
  color: #444 !important;
}

.aboutLinkItem {
  cursor: pointer;
  height: 100;
  width: 100;
  margin: 25;
  text-align:center;
  display: inline-block;
}

.username {
  display: inline-block;
  vertical-align: middle;
}

.AboutContent {
  padding: 15px;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.notifier {
    -webkit-animation: fadeinout 1.5s ease-in-out forwards;
    animation: fadeinout 1.5s ease-in-out forwards;

    z-index: 3;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hideNotifier{
  display: none !important;
}
